
.formulario{
background-color: #f2f2f2;

}
.formulariocaja{
    max-width: 1800px!important;
    margin: 0 auto!important;
}

.form-control{
   border: 2px solid #ccc!important;
   border-radius: 0px!important;
   font-family: 'Helvetica Neue Roman';
}

.form-control:focus {
    box-shadow: 0 0 0 3px rgb(0 0 0 / 10%)!important;
}

.form-label{

    font-family: 'Helvetica Neue';
    font-size: 16px;

}

.form-check-input:checked {
    background-color: var(--orangebrand)!important;
    border-color: var(--orangebrand)!important;
}
.form-check-input:focus {

    box-shadow: none!important;
}