.footer{
    background-color: black;
    padding: 20px 0px 30px 0px;;

}

.cajafooter{
    max-width: 1800px!important;
    margin: 0 auto!important;
}

.footer2{
    padding: 20px 0px 30px 0px;
}

.cajafooter2{
    max-width: 1800px!important;
    margin: 0 auto!important;
    text-align: center;
    font-family: 'Helvetica Neue Roman';
    font-size: 14px;
}